<!DOCTYPE html>
<html>
<head>
    <title>Network Flow</title>
</head>
<body>
    

    <div class="container-fluid">
        <div class="row">
            <h5>Network Flow</h5>
            <p>{{.Query}}</p>
        </div> 
        <div class="row">
            <div class="col-md-3">
                <form hx-get="/flow" hx-target="#content1" hx-target>
                    <label for="src_ip" class="form-label">Source IP</label>
                    <input type="text" name="src_ip" placeholder="example: 192.168.1.10">
                <button type="submit">Query</button>
                </form>
            </div>

            <div class="col-md-3">
                <form hx-get="/flow" hx-target="#content1" hx-target>
                    <label for="dest_ip" class="form-label">Destination IP</label>
                    <input type="text" name="dest_ip" placeholder="example: 8.8.8.8">
                <button type="submit">Query</button>
                </form>
            </div>
        </div>
    
    <!-- Target Div for Content Swapping -->
    <div id="table-responsive">
        <table class="table table-striped table-sm sortable">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Seen</th>
                <th>Last Seen</th>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Destination Port</th>
                <th>Protocol</th>
                <th>Bytes to Server</th>
                <th>Bytes to Client</th>
                <th>Packets to Server</th>
                <th>Packets to Client</th>
            </tr>
        </thead>
        <tbody>
            {{range .FlowLogs }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Start}}</td>
                <td>{{.End}}</td>
                <td>{{.SrcIp}}</td>
                <td>{{.DestIp}}</td>
                <td>{{.DestPort}}</td>
                <td>{{.Proto}}</td>
                <td>{{.BytesToserver}}</td>
                <td>{{.BytesToclient}}</td>
                <td>{{.PktsToserver}}</td>
                <td>{{.PktsToclient}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

<script src="/static/js/sorttable.js"></script>

</body>
</html>